/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3533b1");

  
@font-face {font-family: 'TTBackwardsSans-Bold';src: url('../fonts/3533B1_0_0.eot');src: url('../fonts/3533B1_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3533B1_0_0.woff2') format('woff2'),url('../fonts/3533B1_0_0.woff') format('woff'),url('../fonts/3533B1_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TTBackwardsSans-Light';src: url('../fonts/3533B1_1_0.eot');src: url('../fonts/3533B1_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3533B1_1_0.woff2') format('woff2'),url('../fonts/3533B1_1_0.woff') format('woff'),url('../fonts/3533B1_1_0.ttf') format('truetype');}
 

$font-title:TTBackwardsSans-Bold;
$font-body:TTBackwardsSans-Light;





@lost rounder 100;
@lost flexbox flex;
@lost gutter 0px;
$gutter: 1rem;



/** Colors */

$bg: #1A144F;
$purple-dates:#0C0C41;
$purple: #4838A5;
$purple-muted: #584F93;
$gold-muted:#F9C68F;
$gold:#FFB860;
$rose: #E55B7D;
$rose-muted:#512D2D;
$blue: #21A8D9;
$blue-muted:#659EC6;
$white: #FFFEFC;
$gray-light: #E5E4E3;
$gray:#514B45;
$black-dark:#302B26;
$black:#00002E;
/** Box Model  */

$spacer : 2rem;
