Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

advent.lakeridgeumc.org:
  site_hosts:
    - canonical: advent.lakeridgeumc.org

The above is the minimum required. Multiple hosts and redirects are possible:

advent.lakeridgeumc.org:
  site_hosts:
    - canonical: advent.lakeridgeumc.org
      redirects:
        - www.advent.lakeridgeumc.org


